apiVersion: apps/v1
kind: Deployment
metadata:
  name: filebrowser
spec:
  replicas: 1
  selector:
    matchLabels:
      app: filebrowser
  template:
    metadata:
      labels:
        app: filebrowser
    spec:
      containers:
      - name: filebrowser
        image: filebrowser/filebrowser:latest
        env:
        - name: FB_USER
          value: admin
        - name: FB_PASS
          value: admin12345678
        - name: FB_ROOT
          value: /srv
        volumeMounts:
        - mountPath: /srv
          name: filebrowser-data
        - mountPath: /config
          name: filebrowser-config
      volumes:
      - name: filebrowser-data
        persistentVolumeClaim:
          claimName: filebrowser-pvc
      - name: filebrowser-config
        emptyDir: {}
